# Server Configuration
PORT=5000
NODE_ENV=production

# MongoDB
MONGO_URI=mongodb+srv://SudharsanDeepak:sudharsan@sudharsandeepak.dbsk5.mongodb.net/?retryWrites=true&w=majority&appName=SudharsanDeepak

# Clerk Authentication
CLERK_PUBLISHABLE_KEY=pk_test_dGVhY2hpbmctbG9ic3Rlci02Ny5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_9AcKyvH340julayg1KlTWFoKAEqVOhwo2cpi4PmHI1

# JWT
JWT_SECRET=ThisProjectisUsedForMyOwnPurposeInMyHome

# Email Configuration (Brevo/Sendinblue)
BREVO_API_KEY=your_brevo_api_key
SENDER_EMAIL=sudharsandeepak12@gmail.com
SENDER_NAME=Hydro-FlowGauge

# SMTP Configuration (Brevo)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_LOGIN=988216003@smtp-brevo.com
SMTP_PASSWORD=FsRCTqr8Q12Aw5xK

# ThingSpeak Configuration
THINGSPEAK_READ_API_KEY=ZUS2JSR26N6Q3STH
THINGSPEAK_WRITE_API_KEY=RCIQHOPZRFB0M4YK
THINGSPEAK_CHANNEL_ID=3055434

# CORS
ALLOWED_ORIGINS=http://localhost:5173,https://hydro-flowgauge.vercel.app/,https://hydro-flowgauge.vercel.app
